DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require
TWILIO_SID=AC_YOUR_SID_HERE
TWILIO_TOKEN=YOUR_TOKEN_HERE
CRON_SECRET=your_random_secret_string
TWILIO_WHATSAPP_FROM=whatsapp:+123366455
MY_WHATSAPP_NUMBER=whatsapp:+321654987